# Node / Frontend
node_modules/
dist/
.DS_Store

# Vite
*.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# Flask
instance/
.webassets-cache

# Database
*.sqlite3
*.db

# Uploads (Keep the folder structure, ignore the files inside)
backend/uploads/screenshots/*
!backend/uploads/screenshots/.gitkeep
backend/uploads/cover_letters/*
!backend/uploads/cover_letters/.gitkeep

# IDEs / OS
.vscode/
.idea/
*.swp